{# I'd rather indent with two spaces, but this clashes with uv's formatting. #}
[project]
name = "{{ module_name | replace('_', '-') }}"
version = "0.1.0"
description = "{{ project_description.removesuffix('.') }}"
readme = "README.md"
authors = [
    { name = "{{ author_name }}", email = "{{ author_email }}" },
]
license = { text = "{% if license == 'Proprietary' %}LicenseRef-Proprietary{% else %}{{ license }}{% endif %}" }
classifiers = ["Private :: Do Not Upload"]
requires-python = ">={{ python_version }}"
{% if project_type == "application" %}
dependencies = [
    "typer-slim>=0.12.3",
]
{% else %}
dependencies = []
{% endif %}
{% if project_type == "application" %}

[project.scripts]
{{ script_name }} = "{{ module_name }}.__main__:app"
{% endif %}

[project.urls]
{% if pages_url %}
Documentation = "{{ pages_url }}"
{% endif %}
{% if repo_url %}
Repository = "{{ repo_url }}"
{% if hosting_platform == "github" %}
Issues = "{{ repo_url }}/issues"
{% endif %}
{% endif %}
{% if project_type != "virtual" %}

[build-system]
{% if build_system == "hatchling" %}
requires = ["hatchling"]
build-backend = "hatchling.build"
{% elif build_system == "maturin" %}
requires = ["maturin>=1.0,<2.0"]
build-backend = "maturin"
{% endif %}

[dependency-groups]
dev = [
{% if doc_generator == "sphinx" %}
    "furo>=2024.8.6",
{% endif %}
    "mypy>=1.11.0",
    "nox>=2024.4.15",
    "pip-audit>=2.7.3",
    "pytest>=8.3.1",
    "ruff>=0.5.4",
{% if doc_generator == "sphinx" %}
    "sphinx>=8.0.2",
{% endif %}
]
{% if build_system == "maturin" %}

[tool.uv]
cache-keys = [
    { file = "Cargo.toml" },
    { file = "Cargo.lock" },
    { file = "src/**/*.rs" },
]

[tool.maturin]
python-source = "python"
module-name = "{{ module_name }}._core"
{% endif %}

[tool.mypy]
strict = true

[tool.ruff.lint]
extend-select= [
    "I",  # isort
]
unfixable = [
    "F401",  # unused imports
]

[tool.pytest.ini_options]
addopts = [
    "--doctest-modules",
    "--import-mode=importlib",
]
testpaths = [
    "src",
    "tests",
]
filterwarnings = [
    "error",
]
{% endif %}
