[package]
name = "{{ package_name }}"
version = "0.1.0"
edition = "2021"
publish = false

[lib]
name = "_{{ module_name }}"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.24.1", features = ["extension-module", "abi3-py3{% if python_version_info >= [3, 13] %}13{% else %}{{ python_version_info[1] }}{% endif %}"] }
