{{ project_name }}
{{ project_name | length * "=" }}

{{ project_description }}
{% if forge != "none" %}

Repository_

.. _Repository: {{ repo_url }}
{% endif %}


API reference
-------------

.. automodule:: {{ module_name }}
   :members:
   :undoc-members:
   :show-inheritance:
