{% if build_system == "maturin" %}
from ._core import hello

{# Required for Sphinx: #}
__all__ = ["hello"]
{% else %}
def hello() -> str:
    """Return a greeting."""
    return "Hello from {{ project_name }}!"
{% endif %}
